{% extends 'base.html' %}

{% block content %}
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h1 class="display-4">Page not Found - 404</h1>
            <p class="lead">Sorry, the page you are looking for does not exist.</p>
            <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}