{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">My Bookings</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Table Number</th>
                    <th>Booking Time</th>
                    <th>Number of Guests</th>
                    <th>Special Requests</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>T#{{ booking.table.table_number }}</td>
                        <td>{{ booking.booking_time }}</td>
                        <td>{{ booking.number_of_people }}</td>
                        <td>{{ booking.special_requests }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel-modal-{{ booking.id }}">Cancel</button>
                            <div class="modal fade" id="cancel-modal-{{ booking.id }}" tabindex="-1" role="dialog" aria-labelledby="cancel-modal-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancel-modal-label">Cancel Booking</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to cancel this booking?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, keep booking</button>
                                            <form action="{% url 'cancel_booking' booking.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Yes, cancel booking</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No bookings found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}