{% extends 'base.html' %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold">Restaurant Booking System</h1>
                <p class="lead">Book your seats now and enjoy a great dining experience!</p>
                <!-- {% if not request.user.is_authenticated %}
                    <a href="{% url 'signup' %}" class="btn btn-success">Sign up</a>
                    <a href="{% url 'login_view' %}" class="btn btn-info">Login</a>
                {% endif %} -->
                {% if request.user.is_authenticated %}
                <p><b>Welcome, {{ request.user.username }}</b></p>
                {% else %}
                <p>You are not logged in.</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<br><br>
<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <i class="fas fa-utensils fa-4x"></i>
                <h3>Book a Table</h3>
                <p>Choose the table and book your seats. We have a wide range of tables to suit your needs.</p>
                <a href="{% url 'table_list' %}" class="btn btn-primary btn-block">View Tables</a>
            </div>
            <div class="col-md-4 mb-3">
                <i class="fas fa-list fa-4x"></i>
                <h3>View Menu</h3>
                <p>Browse our menu and plan your meal. We have a variety of dishes to suit your taste.</p>
                <a href="{% url 'menu_list' %}" class="btn btn-secondary btn-block">View Menu</a>
            </div>
            <div class="col-md-4 mb-3">
                <i class="fas fa-clock fa-4x"></i>
                <h3>Manage Bookings</h3>
                <p>View and manage your bookings. Easily cancel or reschedule your bookings.</p>
                <a href="{% url 'booking_list' %}" class="btn btn-primary btn-block">View Booking</a>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="call-to-action py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Ready to Book?</h2>
                <p>Book your table now and enjoy a great dining experience!</p>
                <a href="{% url 'booking_create' %}" class="btn btn-primary btn-lg">Book Now</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}